<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="message_id" converterClass="com.jmp.elastic.converter.LogMessageIdConverter" />

    <property name="LOGS" value="./m5-elk-stack/logs" />
    <property name="APP_DESCRIPTION" value="%replace(app_name=%X{app_name} app_version=%X{app_version} path=%X{req.requestURL}){'app_name= app_version= path=',''} " />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%message_id [%X{request_id} ${APP_DESCRIPTION}] ${PID} %-5level %logger{36}.%M: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/spring-boot-logger.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%message_id [%X{request_id} ${APP_DESCRIPTION}] ${PID} %-5level %logger{36}.%M: %msg%n</Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </root>

    <logger name="com.jmp" level="trace" additivity="false">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </logger>

</configuration>
